<div class="container">
  <h2 class="">Lotes de venda</h2>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Número de Vendas</th>
      <th>Valor total de vendas</th>
    </tr>
      <% @purchase_batches.each do |purchase_batch| %>
        <tr>
          <td><%= purchase_batch.id %> </td>
          <td> <%= purchase_batch.purchases.size %></td>
          <td> <%= number_to_currency(purchase_batch.total_value, unity: "R$") %></td>
        </tr>
      <% end %>
  </table>
  <%= paginate @purchase_batches %>
</div>
